/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css'); 



.timer {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

#datetime-picker {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button[data-start] {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[data-start]:disabled {
  background-color: #cfcfcf;
  cursor: not-allowed;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 300px;
  font-weight: 500;
}

.delay-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}