/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');


.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.form input {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  outline: none;
}

.form button {
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 20px;
  justify-content: center;
}

.gallery-item {
  width: 360px;
  border: 1px solid #808080;
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #fff;
}

.info p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.loader .is-active {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

